[submodule "lib/tcrt5000"]
	path = lib/tcrt5000
	url = https://github.com/besi/kicad-tcrt5000
[submodule "lib/esp-01f"]
	path = lib/esp-01f
	url = https://github.com/besi/kicad-esp-01f
[submodule "lib/magnetic-charger"]
	path = lib/magnetic-charger
	url = https://github.com/besi/kicad-magnetic-charger
